<div class="container">
  <h1>{{title}}</h1>
  <div class='contenedor'>
    <div class="contador">{{count}}</div>
    <div class="buttons">
      <button (click)="addNumber()">Sumar un numero +</button>
      <button (click)="reduceNumber()">Restar un numero -</button>
    </div>
  </div>
</div>

<style>
  .contador {
    text-align: center;
    font-size: 10em;
    font-weight: 600;
    user-select: none;
  }

  .buttons {
    text-align: center;
    gap: 1em;
    display: flex;
  }

  .buttons button {
    width: 50%;
  }
</style>